@model List<ConsultaGrupoModel>;
@{
    ViewData["Title"] = "Lista de grupos";
}
<h1 class="text-center">Lista de Grupos</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id Grupo</th>
                <th>Nombre </th>
                <th>Cuatrimestre</th>
                <th>Carrera</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdGrupo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Grupo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cuatrimestre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Carrera)</td>
                    <td>
                        <button class="btn btn-warning btn-sm">Editar</button>
                        <form asp-action="Eliminar" asp-controller="Grupo" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este grupo?');">
                            <input type="hidden" name="IdGrupo" value="@item.IdGrupo" />
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>